html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
div,p{cursor:default}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{height:100%;background:#ebebeb}body{height:100%;min-width:1000px;color:#737577;font:12px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;background:#ebebeb}a{color:#3e3e3e;text-decoration:none;cursor:pointer}a:hover{text-decoration:underline}input,textarea,select{font:100% "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;vertical-align:middle;color:#737577;outline:0}


.left{float:left}
.right{float:right}
.clear{clear:both}
.block{display:block}
.rel{position:relative}
.abs{position:absolute}
.abs-right{right:0}
.abs-top{top:0}
.abs-bot{bottom:0}
.shadowed{text-shadow:rgba(0,0,0,0.75) 1px 1px 1px}
.pointer{cursor:pointer}
.default{cursor:default}
::selection{color:#fff;background:#74ac95}
::-moz-selection{color:#fff;background:#74ac95}


#main {
  background:none;
  margin-bottom:150px;
}

.body-container {
  width:960px;
  height:700px;
  margin:0 auto;
}

.body-inner {
  width:960px;
  height:555px;
  margin:0 auto;
  position:absolute;
}

.bottom {
  width:100%;
  height:53px;
  position:fixed;
  bottom:0;
  left:0;
}

.logo {
  display:block;
  width:146px;
  height:45px;
  overflow:hidden;
  text-indent:-9999px;
  margin-right:8px;
  background: url(/images/app-sprites.png) no-repeat 0 -173px;
}

.book-body {
  width:960px;
}

.book-foot {
  margin-left:35px;
  width:850px;
  height:24px;
  line-height:16px;
  color:#3e3e3e;
  text-align:center;
  font-size:10px;
  font-weight:bold;
}

.nav-box {
  margin-left: -212px;
  height: 27px;
  width: 424px;
  position:absolute;
  top:-2px;
  left:50%;
  box-shadow: 0 3px 7px rgba(0,0,0, 0.25);
  display: block;
  z-index:999;
}

.nav-btn {
  background: url(/images/app-nav-sprites.png) no-repeat;
  height: 25px;
  width: 140px;
  margin-left: 1px;
  margin-top: 1px;
  float: left;
  position: relative;
  cursor:pointer;
}

.nav-btn.teaser:hover { background-position:0px -25px; }
.nav-btn.teaser.selected { background-position:0px -50px; }
.nav-btn.overview { background-position:-141px 0px; }
.nav-btn.overview:hover { background-position:-141px -25px; }
.nav-btn.overview.selected { background-position:-141px -50px; }
.nav-btn.contact { background-position:-282px 0px; }
.nav-btn.contact:hover { background-position:-282px -25px; }
.nav-btn.contact.selected { background-position:-282px -50px; }
