html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
div,p{cursor:default}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{height:100%;background:#ebebeb}body{height:100%;min-width:1000px;color:#737577;font:12px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;background:#ebebeb}a{color:#3e3e3e;text-decoration:none;cursor:pointer}a:hover{text-decoration:underline}input,textarea,select{font:100% "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;vertical-align:middle;color:#737577;outline:0}


.left{float:left}
.right{float:right}
.clear{clear:both}
.block{display:block}
.rel{position:relative}
.abs{position:absolute}
.abs-right{right:0}
.abs-top{top:0}
.abs-bot{bottom:0}
.shadowed{text-shadow:rgba(0,0,0,0.75) 1px 1px 1px}
.pointer{cursor:pointer}
.default{cursor:default}
::selection{color:#fff;background:#74ac95}
::-moz-selection{color:#fff;background:#74ac95}


#main {
  background:none;
  margin-bottom:150px;
}

.body-container {
  width:960px;
  height:700px;
  margin:0 auto;
}

.body-inner {
  width:960px;
  height:555px;
  margin:0 auto;
  position:absolute;
}

.bottom {
  width:100%;
  height:53px;
  position:fixed;
  bottom:0;
  left:0;
}

.logo {
  display:block;
  width:146px;
  height:45px;
  overflow:hidden;
  text-indent:-9999px;
  margin-right:8px;
  background: url(/pitchbook/_static/images/app-sprites.png) no-repeat 0 -173px;
}

.book-body {
  width:960px;
}

.book-foot {
  margin-left:35px;
  width:850px;
  height:24px;
  line-height:16px;
  color:#3e3e3e;
  text-align:center;
  font-size:10px;
  font-weight:bold;
}

.nav-box {
  margin-left: -212px;
  height: 27px;
  width: 424px;
  position:absolute;
  top:-2px;
  left:50%;
  box-shadow: 0 3px 7px rgba(0,0,0, 0.25);
  display: block;
  z-index:999;
}

.nav-btn {
  background: url(/pitchbook/_static/images/app-nav-sprites.png) no-repeat;
  height: 25px;
  width: 140px;
  margin-left: 1px;
  margin-top: 1px;
  float: left;
  position: relative;
  cursor:pointer;
}

.nav-btn.teaser:hover { background-position:0px -25px; }
.nav-btn.teaser.selected { background-position:0px -50px; }
.nav-btn.overview { background-position:-141px 0px; }
.nav-btn.overview:hover { background-position:-141px -25px; }
.nav-btn.overview.selected { background-position:-141px -50px; }
.nav-btn.contact { background-position:-282px 0px; }
.nav-btn.contact:hover { background-position:-282px -25px; }
.nav-btn.contact.selected { background-position:-282px -50px; }

.btn-close {
  position:fixed;
  width:48px;
  height:48px;
  top:10px;
  right:10px;
  background: url(/pitchbook/_static/images/app-box-close.png) no-repeat;
  cursor:pointer;
}

.box {
  width:854px;
  height:480px;
  margin-left:-400px;
  position:absolute;
  box-shadow:0px 0px 30px rgba(0,0,20, 1);
  -moz-box-shadow:0px 0px 30px rgba(0,0,20, 1);
  background:#000;
}

.box {
  margin-left:-426px;
}

#pitchbookBox {
  position:absolute;top:0;left:0;z-index:100
}

.pitchbookBox-overlay {
  position:fixed;top:0;left:0;height:100%;width:100%;background-color:#000;z-index:20
}

.pitchbookBox-hide {
  z-index: -100
}

.book-next,
.book-prev {
  visibility:hidden;
  width:21px;
  height:312px;
  /*background: url(/pitchbook/_static/images/pitchbook-nav-sprites.png) no-repeat -106px 132px;*/
}
.book-prev {
  background-position:-67px 132px;
}
.book-edge {
  position:relative;
  float:left;
}
.book-shadow {
  position:relative;
  height:40px;
}

.book-contents {
	padding: 0;
	float: left;
}

.book-spreads {
  /*position: relative;*/
}

.book-spreads section {
  /*display: block;*/
}
.book-spreads section div {
  /*float: none;*/
}
.book-spreads section>div.left {
  z-index: 20;
}
.book-spreads section>div.right {
  z-index: 10;
}


.book-overlay {
  position: absolute;
  background:url(/pitchbook/_static/images/pitchbook-sprites.png) no-repeat -445px 0px;
}
div.left .book-overlay {
  background-position:-20px 0px;
}


.book-edge.left {background:url(/pitchbook/_static/images/pitchbook-sprites.png) no-repeat left top;}
.book-edge.right {background:url(/pitchbook/_static/images/pitchbook-sprites.png) no-repeat right top;}

.book-shadow {width:445px;}
.book-shadow.left {background:url(/pitchbook/_static/images/pitchbook-sprites.png) no-repeat 0px -550px;}
.book-shadow.right {background:url(/pitchbook/_static/images/pitchbook-sprites.png) no-repeat -445px -550px;}

.book-next,
.book-prev {
  width:20px;
  height:312px;
}

.book-edge {
  width:20px;
  height:550px;
}


.box {
  width:800px;
  height:450px;
  margin-left:-400px;
  position:absolute;
  box-shadow:0px 0px 30px rgba(0,0,20, 1);
  -moz-box-shadow:0px 0px 30px rgba(0,0,20, 1);
  background:#000;
}

/* book controls.. */


.pager-left,
.pager-right {
  cursor:pointer;
  margin-top:200px;
  width: 35px;
  height: 75px;
  float:left;
  opacity:0.2;
}
.pager-right {
  background: url(/pitchbook/_static/images/pitchbook-nav-sprites.png) no-repeat -28px 0px;
}
.pager-right:hover { }

.pager-left {
  background: url(/pitchbook/_static/images/pitchbook-nav-sprites.png) no-repeat 0px 0px;
}
.pager-left:hover { }
.pager-left.disabled,
.pager-right.disabled {
  cursor:default;
}

.book-contents.first .pager-left:hover {
  background: none;
  cursor: default;
}
.book-contents.last .pager-right:hover {
  background: none;
  cursor: default;
}

/*
  Page Numbers at the bottom of the book
*/
.page-no-l { width:375px;  margin-left:22px; }
.page-no-r { width:375px; line-height:16px; }
.page-total { width:50px; margin-left:28px; }
.page-total span { font-weight:normal; }


.pager-left,
.pager-right {
  margin-top:220px;
}
