
<div
  data-action="pitchbook-spread-change"
  data-book="0"
  data-direction="-1"
  class="pager-left"></div>
<div class="left book-edge"></div>
<div
  data-book-contents="0"
  class="book-contents"></div>
<div class="right book-edge"></div>
<div
  data-action="pitchbook-spread-change"
  data-book="0"
  data-direction="1"
  class="pager-right"></div>
<div class="left book-shadow"></div>
<div class="right book-shadow"></div>
